.profileContainter {
    display: flex;
    align-items: center;
}
.profileContainter > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainter div {
    margin-left:  1.5rem;
}

.profileContainter div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainter div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainter div p img  {
    margin-right: 0.5rem;
}